<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <div>
        <div class="container-fluid">
            <div class="border-bottom lh-1 py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-4 pt-1">
                        <a class="text-body-emphasis">Subscribe</a>
                    </div>
                    <div class="col-4 text-center">
                        <a class="blog-header-logo text-body-emphasis text-decoration-none" th:href="@{/}"><img
                                th:src="@{/images/ootdlogo.png}" style="width:20%; height: 20%">
                        </a>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        <a class="btn btn-sm btn-outline-secondary" th:if="${session.loginEmail == null}" th:href="@{/user/member/login}">login</a>
                        <a class="btn btn-sm btn-outline-secondary" th:if="${session.loginEmail != null}" th:href="@{/user/member/logout}">logout</a>
                    </div>
                </div>
            </div>

            <div class="nav-scroller py-1 mb-3 border-bottom">
                <nav class="nav nav-underline justify-content-between">
                    <a class="nav-item nav-link link-body-emphasis" href="#">U.S.</a>
                    <a class="nav-item nav-link link-body-emphasis" href="#">Technology</a>
                    <a class="nav-item nav-link link-body-emphasis" href="#">Design</a>
                    <a class="nav-item nav-link link-body-emphasis" href="#">Culture</a>

                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                shopping
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="https://www.musinsa.com/app/">무신사</a></li>
                                <li><a class="dropdown-item" href="https://zigzag.kr/">지그재즈</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    <!-- nav bar -->
    <!-- jquery cdn -->

    <!--    <body class="text-center">-->
    <!--     action속성: form에 작성한 데이터를 어디로 보낼지 지정-->
    <!--    <form action="/user/member/save" method="post">-->
    <!--        &lt;!&ndash; name속성: 서버로 전송할 때 변수이름의 역할 &ndash;&gt;-->
    <!--        이메일: <input type="text" name="memberEmail" id="memberEmail" onblur="emailCheck()"> <br>-->
    <!--        <p id="check-result"></p>-->
    <!--        비밀번호: <input type="password" name="memberPassword"> <br>-->
    <!--        이름: <input type="text" name="memberName"> <br>-->
    <!--        <input type="submit" value="회원가입">-->
    <!--    </form>-->


        <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog"
             id="modalSignin">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header p-5 pb-4 border-bottom-0">
                        <h1 class="fw-bold mb-0 fs-2" >회원 가입은 무료!</h1>
                    </div>

                    <div class="modal-body p-5 pt-0" >
                        <form action="/user/member/save" method="post">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control rounded-3" id="memberEmail" name="memberEmail"
                                       placeholder="Email" onblur="emailCheck()">
                                <label for="memberEmail">Email address</label>
                                <p id="check-result"></p>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control rounded-3" id="memberPassword" name="memberPassword"
                                       placeholder="Password">
                                <label for="memberPassword">Password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control rounded-3" id="memberName" name="memberName"
                                       placeholder="이름">
                                <label for="memberName">이름</label>
                            </div>
                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">회원 가입</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const emailCheck = () => {
            const email = document.getElementById("memberEmail").value;
            const checkResult = document.getElementById("check-result");
            console.log("입력값: ", email);
            $.ajax({
                // 요청방식: post, url: "email-check", 데이터: 이메일
                type: "post",
                url: "/user/member/email-check",
                data: {
                    "memberEmail": email
                },
                success: function (res) {
                    console.log("요청성공", res);
                    if (res == "ok") {
                        console.log("사용가능한 이메일");
                        checkResult.style.color = "green";
                        checkResult.innerHTML = "사용가능한 이메일";
                    } else {
                        console.log("이미 사용중인 이메일");
                        checkResult.style.color = "red";
                        checkResult.innerHTML = "이미 사용중인 이메일";
                    }
                },
                error: function (err) {
                    console.log("에러발생", err);
                }
            });
        }
    </script>
</th:block>
</html>










