/*---------------------------------------
 HEADER TITLE
-----------------------------------------*/
.nav-item.nav-link {
  font-size: 1em; /* 원하는 크기로 조정하세요 */
}

/*---------------------------------------
  SOCIAL ICON
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  color: black;
  font-size: 30px;
  display: block;
  margin-right: 10px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 36px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  color: orange;
}

.social-icon-link span {
  display: block;
}

.social-icon-link span:hover::before{
  animation: spinAround 2s linear infinite;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}
/*---------------------------------------
  Login
-----------------------------------------*/

/*---------------------------------------
  weather
-----------------------------------------*/
.custom-video {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.weather-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.weather-overlay {
  position: absolute;
  top: -350px;
  right: -600px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
  color: black;
  max-width: 600px;
  height: 280px;
  width: 100%;
  box-sizing: border-box;
}

.weather-overlay .CurrIcon {
  margin-top: 50px;
  float: left;
}

.weather-overlay .temp-info {
  float: right;
  margin: -5px 0px 0px 60px;
  font-size: 20pt;
}

.weather-overlay .additional-info {
  float: right;
  margin-top: -45px;
}

.weather-overlay .temperature {
  margin-top: 70px;
  font-size: 50pt;
}

.weather-overlay .weather_description {
  margin-top: 10px;
  font-size: 20pt;
}

.weather-overlay .city {
  font-size: 13pt;
}

.row {
  position: relative;
}


